* {
    font-family: sans-serif;
}

h2, h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-bottom: 2px solid black;
}

.row {
    margin-bottom: 8px;
}

.btn {
    padding: 8px 50px;
    border: 4px double;
}

.btn:hover {
    cursor: pointer;
}

#app2 hr, #app1 h2 {
    color: salmon;
}

#app3 hr, #app2 h2 {
    color: goldenrod;
}

#app4 hr, #app3 h2 {
    color: olivedrab;
}

#app5 hr, #app4 h2 {
    color: cadetblue;
}

#app6 hr, #app5 h2 {
    color: darkslateblue;
}

#app6 h2 {
    color: indianred;
}

#Test {
    width: 25%;
    border: solid black 3px;
    text-align: center;
    margin: 25px 0px;
}